@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*
{
	margin: 0;
	padding: 0;
    font-family: "nanumgothic";
    
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

html, body 
{
    width: 100%; 
    height:100%; 
    background: linear-gradient(to right, rgb(0, 157, 67), rgb(28, 35, 141));
}

ul, li 
{ 
    list-style: none; 
}

.question-box
{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    color: white;
}

.question-box fieldset
{
    width: 90vw;
    height: 90vh;
    border: 1px solid white;
}

.question-box legend
{
    font-size: 14pt;
}

.question-box #question
{
    position: relative;
    text-align: center;
    top: 25%;
    transform: translateY(-50%);
    
    font-size: 20pt;
}

.question-box #nickname
{
    position: relative;
    text-align: center;
    top: 10%;
    transform: translateY(-50%);
    
    font-size: 20pt;
}

.question-box #goQuiz
{
    position: relative;
    text-align: center;
    top: 45%;
    transform: translateY(-50%);
    
    font-size: 20pt;
}

.question-box button
{
    border: 1px solid white;
    background-color: transparent;
    width: 40%;
    height: 80px;
    
    font-size: 12pt;
    color: white;

    transition: background-color 0.2s;
}

.question-box button:hover
{
    background-color: white;
    color: black;
}
