@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*
{
	margin: 0;
	padding: 0;
    font-family: "Nanum Gothic", sans-serif;

    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

html, body {
    width: 100%; height:100%; background: linear-gradient(to right, rgb(0, 157, 67), rgb(28, 35, 141));
}

ul, li { list-style: none; }

.question-box
{
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    color: white;
}

.question-box fieldset
{
    width: 90vw;
    height: 90vh;
    border: 1px solid white;
}

.question-box legend
{
    font-size: 14pt;
}

.question-box #answer
{
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 14pt;
}

.question-box #question-div
{
    position: relative;
    top: 35%;
    transform: translateY(-50%);
}

.question-box #question-div p
{
    text-align: center;
}

.question-box #correct
{
    position: absolute;
    top: 10%;
    right: 20%;
    transform: translateY(-50%);
}

.question-box #life
{
    position: absolute;
    top: 10%;
    right: 10%;
    transform: translateY(-50%);
}

.question-box #count
{
    position: absolute;
    top: 50px;
    left: 50%;
}

.question-box #question
{
    font-size: 20pt;
    transition: 0.5s linear;
}

.question-box button
{
    border: 1px solid white;
    background-color: transparent;
    width: 40%;
    height: 80px;
    
    outline: none;

    font-size: 12pt;
    color: white;

    transition: all 0.2s;
}

.question-box button:hover
{
    background-color: white;
    color: black;

}

.question-box #button-group-OX
{
    position: relative;
    
    top: 70%;
    transform: translateY(-50%);
}

.question-box #button-group-4choice
{
    position: relative;
    
    top: 70%;
    transform: translateY(-50%);
}

.question-box #group1
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.question-box #group2
{
    display: flex;
    justify-content: space-around;
}

.question-box #nextButton
{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 70%;
    transform: translateY(-50%);
}